@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mynerve&family=Roboto:ital,wght@0,100;0,300;1,400&family=Ubuntu:wght@300&display=swap');

:root {
    --bg1:#00004c;
    --bg2:#1808f9;
    --txt:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krub", sans-serif;
}

i {
    font-size: 1.8rem;
    color:var(--txt);
    display: inline-block;
    margin: 15px;
}

a {
    color:var(--txt);
    text-decoration: none;
}

.topnav{
    position: fixed;
    width: 100%;
    z-index: 10;
 }

nav {
    background-color: var(--bg2);
    padding: 0 20px;
}

nav>a>div{
    display: inline-block;
    font-size: 1.2rem;
}

nav>ul{
    list-style: none;  
}

.haciaDerecha{
    float: right;
}

nav>ul>li{
    display: inline-block;
    font-size: 1.2rem;
    margin: 15px;
}

.botónNav{
    background-color: var(--bg1);
    border: solid;
    border-color: var(--txt);
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
}

main{
    background-color: var(--bg1);
    padding-top: 80px;
}

h1{
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--txt);
    text-align: center;
}

h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--txt);
    text-align: center;
}

.displayFull{
    height: 90vh;
    text-align: center;
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner.webp);
    background-size: cover;
    background-position: center;
}

.separador1{
    height: 4rem;
}

.botónMain{
    background-color: var(--bg2);
    border: solid;
    border-color: var(--txt);
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.3rem;
    color:var(--txt);
}

.enLínea form {
    display: inline-block;
}

.enLínea input[type="text"]{
    border-radius: 10px;
    border: solid var(--txt);
    padding: 10px;
    width: 350px;
    height: 38px;
}

.enLínea input[type="text"],
.enLínea a.botónMain {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

hr{
    border: 1px solid var(--bg2);
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.displayMid{
    height: 50vh;
    text-align: center;  
}

.grilla{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
}

.grilla img{
    width:280px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.margenDerecho{
    margin-right: 20px;
}

.scrollHoriz{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;

}

.scrollHoriz img{
    width:240px;
    height: 360px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer nav {
    overflow: hidden;
}

.alCentro{
    text-align: center;
}