@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mynerve&family=Roboto:ital,wght@0,100;0,300;1,400&family=Ubuntu:wght@300&display=swap');

:root {
    --bg1:#00004c;
    --bg2:#1808f9;
    --txt:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krub", sans-serif;
}

.animate__animated .animate__rubberBand{
    --animate-duration: 3s;
    --animate-delay: 1s;
}

i {
    font-size: 1.8rem;
    color:var(--txt);
    display: inline-block;
    margin: 15px;
    @media only screen and (max-width:750px) {
        font-size: 1.2rem;
        margin: 5px;
    }
}

a {
    color:var(--txt);
    text-decoration: none;
}

.botónMain:hover, .botónNav:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
    }

a:not(.botónMain):not(.botónNav):hover {
    font-size: 1.5rem;
    }

a>img:hover{
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
    }

.topnav{
    position: fixed;
    width: 100%;
    z-index: 10;
 }

nav {
    background-color: var(--bg2);
    padding: 0 20px;
}

nav>a>div{
    display: inline-block;
    font-size: 1.2rem;
    @media only screen and (max-width:750px) {
        font-size: 0.8rem;
}
}

nav>ul{
    list-style: none;  
}

.haciaDerecha{
    float: right;
}

nav>ul>li{
    display: inline-block;
    font-size: 1.2rem;
    margin: 15px;
    @media only screen and (max-width:750px) {
        font-size: 0.8rem;
        margin: 5px;
    }
}

.botónNav{
    background-color: var(--bg1);
    border: solid;
    border-color: var(--txt);
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
}

main{
    background-color: var(--bg1);
    padding-top: 80px;
}

h1{
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--txt);
    text-align: center;
}

h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--txt);
    text-align: center;
}

p{
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--txt);
    text-align: justify;
    margin: 20px 75px 0px 0px;
}

.separador1, .separador2 {
    @media only screen and (max-width:750px) {
        display: none;
    }
}

.displayFull{
    height: 90vh;
    text-align: center;
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner.webp);
    background-size: cover;
    background-position: center;
}

.separador1{
    height: 4rem;
}

.separador2{
    height: 1rem;
}

.botónMain{
    background-color: var(--bg2);
    border: solid;
    border-color: var(--txt);
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.3rem;
    color:var(--txt);
}

.enLínea form {
    display: inline-block;
}

.enLínea input[type="text"]{
    border-radius: 10px;
    border: solid var(--txt);
    padding: 10px;
    width: 350px;
    height: 38px;
}

.enLínea input[type="text"],
.enLínea a.botónMain {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

hr{
    border: 1px solid var(--bg2);
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.displayMid{
    height: 50vh;
    text-align: center;  
}

.grilla{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
}

.grilla img{
    width:280px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.margenDerecho{
    margin-right: 20px;
}

.scrollHoriz{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;

}

.scrollHoriz img{
    width:240px;
    height: 360px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer nav {
    overflow: hidden;
}

.alCentro{
    text-align: center;
}

.displayFullDet{
    height: 90vh;
    text-align: center;
}

.fondoDet{
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/mulhollanddrive.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.displayFullDet img{
    width:340px;
    height: 510px;
    border-radius: 5px;
    margin: 100px
}

.texto {
    margin-left: 20px;
}

video{
    width: 750px;
}

.displayFullRegSes{
    
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/pngwing.com.png);
    background-position: initial;
}

.regSes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:left;
    background-color: var(--bg1);
    padding: 50px;
    width: 80%;
    max-width: 500px;
}

.regSes section {
    display: flex;
    flex-direction: column;
}

.regSes form {
    width: 100%;
}

.regSes input, .regSes select {
    padding: 4px;
    border-radius: 10px;
    font-size: 1.3rem;
    color:var(--bg1);
    width: 85%;
    margin-top: 10px;
}

.txtBlanco, #botónBlanco {
    color:var(--txt);
    width: 85%;
    margin-top: 10px;
}

#botónBlanco:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
    }

.enLínea2{
    display: inline-block;
    font-size: 1.2rem;
}

.regSes input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.regSes .textoCheck {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

.regSes a {
    margin-top: 10px; 
}

#weatherIcon {
    vertical-align: middle;
}